# Rakuten Web Service
RAKUTEN_APPLICATION_ID=your_application_id
RAKUTEN_ACCESS_KEY=your_access_key
RAKUTEN_AFFILIATE_ID=your_affiliate_id

# GitHub publish settings
GITHUB_TOKEN=ghp_your_token
GITHUB_REPOSITORY=choritomo/rakuten-travel
GITHUB_BRANCH=main
GITHUB_PAGES_DIR=site

# Public URL
SITE_BASE_URL=https://choritomo.github.io/rakuten-travel
